.schedules__text {
  font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.3px;
color: #9FA2B4;
}

.schedules__son {
  margin-top: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #252733;  
}

.schedules__item {
  width: 342px;
  text-align: center;
padding-top: 24px;
padding-bottom: 24px;
  border-left: 1px solid #DFE0EB;
  border-bottom: 1px solid #DFE0EB;
}