.app__box {
  display: flex;
}

.app__panel {
  width: 100%;
  width: 255px;
  background: #43444d;
}

.app__list-setting {
  border-top: 1px solid #57585f;
  margin-bottom: 34px;
  margin-top: 34px;
}

.app__beg {
  padding-left: 30px;
  padding-right: 33px;
  background: #F7F8FC;
  width: 100%;
  
}

.app__box--list {
  display: flex;
  justify-content: space-between;
}

.app__task {
  display: flex;
  justify-content: space-between;
}

